# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyxbldc

# Version info
src/km3io/version.py

# Build stuff
build/
develop-eggs/
dist/
eggs/
sdist/
*.egg-info/
*.egg
.eggs
pip-wheel-metadata

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
.coverage.*
junit*.xml
reports

# Sphinx documentation
doc/_build/
doc/auto_examples/
doc/autoapi/
doc/modules/
doc/api
doc/sg_execution_times.rst

# Virtual env
venv
