matplotlib
memory_profiler
numpydoc
pillow
pytest
pytest-cov
pytest-flake8
pytest-pylint
pytest-watch
sphinx
sphinx-autoapi
sphinx-gallery>=0.1.12
sphinx_rtd_theme
sphinxcontrib-versioning
yapf>=0.29.0
